* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    100deg,
    rgb(128, 85, 45),
    rgb(112, 112, 111)
  );
  color: white;
  font-family: "Oswald", sans-serif;
}

header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  outline: none;
}

form button {
  color: rgb(128, 85, 45);
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: rgb(128, 85, 45);
  color: white;
}
